<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idoma Chatbot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <style>
        .container {
            border: 5px solid rgb(29, 97, 136);
            padding: 0 5%;
            margin: 0 auto;
            text-align: center;
            width: auto;
        }

        h2 {
            color: rgb(29, 97, 136);
            font-weight: 500;
        }

        footer {
            background-color: rgb(29, 97, 136);
            color: white;
            text-align: center;
            padding: 1.5%;
        }

        .nav-links a {
            padding: 5%;
            color: white;
            text-decoration: none;
        }

        .pics {
            display: flex;
        }
        img{
            border-radius: 40%;
        }
    </style>
</head>

<body>

    <nav class="text-center" style="background-color: rgb(29, 97, 136); padding: 5px; font-weight: bold;">
        <div class="nav-links">
            <a href="./">Chat</a>
            <a href="./guidelines">Guidelines</a>
        </div>
    </nav>
    <div class="container">
        <h2>About Idoma Language</h2>
        <h2>Introduction</h2>
        <p>The Idomas are people that primarily inhabit the lower western areas of Benue State, Nigeria, and some of
            them can be found in Taraba State, Cross Rivers State, Enugu State, Kogi State, and Nasarawa State in
            Nigeria. The Idoma language is classified in the Akweya subgroup of the Idomoid languages of the Volta–Niger
            family, which include Igede, Alago, Agatu, Etulo, Ete, Akweya (Akpa), and Yala languages of Benue, Nasarawa,
            Kogi, Enugu, and Northern Cross River states.</p>
        
        <h2>Population and Governance</h2>
        <p>The population of the Idomas is estimated to be about 3.5 million. The Idoma people have a traditional ruler
            called the Och'Idoma who is the head of the Idoma Area Traditional Council. This was introduced by the
            British. Each community has its own traditional chief such as the former Ad'Ogbadibo of Orokam, Late Chief
            D.E Enenche. The Palace of the Och'Idoma is located at Otukpo, Benue State. The present Och'Idoma, HRM,
            Elaigwu Odogbo John, the 5th Och'Idoma of the Idoma People was installed on June 30, 2022, following the
            passing of his predecessor HRH Agabaidu Elias Ikoyi Obekpa who ruled from 1996 to October 2021.</p>
        <p>Past Och'Idomas also include: HRH, Agabaidu Edwin Ogbu, who reigned from 1996 to 1997, HRH, Abraham Ajene
            Okpabi of Igede descent who ruled from 1960 to 1995, and HRH, Agabaidu Ogiri Oko whose reign took place
            between 1948 and 1959.</p>
        <img src="./images/idoma1.jpg" class="img-responsive" alt="Idoma History">

        <h2>Traditional History</h2>
        <p>The history of the Idoma people precedes the history of Benue State (created 1976) and the history of the
            Republic of Nigeria (created 1960). Oral tradition and dance are the primary methods through which history
            has been passed in Idomaland and are considered central cultural institutions. From a young age, Idoma
            children usually learn from their elder's stories of old and were brought up around extended families, which
            make multiple historical resources available.</p>
        <p>When prompted, Idomas generally will proudly tell you where they are from, and it's not uncommon for Idoma to
            be able to recite at least four generations of their progenitors. Historically, being unable to answer the
            emblematic question “Who is your father?” disqualified one from important roles and titles in Idomaland.
            Quite naturally, a number of villages trace origins to single ancestors and further, several Idoma groups
            trace their heritage to one common ancestor, considered the “father” of the different groups. According to
            traditional history, Iduh, the father of the Idoma had several children who each established different
            areas. Hence the expression: “Iduh the father of Idoma.”</p>
        <div class="row pics">
            <div class="col-md-6">
                <p>While there may be some truth to the above, the Idoma cannot be said to have a unitary origin. Many
                    Idoma groups and village subsets have their own histories complete with stories about how their people
                    arrived at their current location. The Otukpa people descended from three ancestors: Owuno,
                    Ameh-Ochagbaha, and Oodo. The first two were brothers who migrated from Idah in Igalaland while Oodo
                    migrated from Igbo land. As one can imagine, the ever-changing movement of people through time makes it
                    difficult to study Idoma history. There are some Idomas who are originally Igbos and heavily intermarried
                    with the Northern fringes of Igboland.</p>
            </div>
            <div class="col-md-6">
                <img src="./images/idoma2.jpg" class="img-responsive" alt="Idoma History">
            </div>
        </div>

        <div class="row pics">
            <div class="col-md-8">
                <img src="./images/idoma3.jpg" class="img-responsive" alt="Idoma Traditional Colors">
            </div>
            <div class="col-md-4">
                <h2>Traditional Colors</h2>
                <p>The traditional colors of the Idoma people are red and black stripes. This has only been around since the 1980s to foster a distinct Idoma identity.</p>
            </div>
        </div>

        <h2>Traditional Dance</h2>
        <p>The most famous traditional dance of the Idoma people is known as the Ogirinya dance. It is a highly
            energetic dance that requires jumping (at regular intervals) on the toes in a short period of time. A video
            of the Ogirinya dance can be viewed on YouTube.</p>
        <img src="./images/idoma4.jpg" class="img-responsive" alt="Ogirinya Dance">

        <h2>Traditional Food</h2>
        <p>The Idoma people are known for their love of food, as there is an annual food festival in Benue State to
            celebrate women and the various traditional cuisines. Most popular among their delicacies is the Okoho soup
            which is made with the peculiar Okoho plant, bush meat, and many other ingredients.</p>
        <img src="./images/idoma5.jpg" class="img-responsive" alt="Okoho Soup">
    </div>

    <footer>
        <p>&copy; 2024 Idoma Chatbot. All rights reserved.</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
