<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idoma Chatbot - Guidelines</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <style>
        .container {
            border: 5px solid rgb(29, 97, 136);
            padding-left: 5%;
            padding-right: 5%;
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }
        h3 {
            color: rgb(29, 97, 136);
            font-weight: 300;
        }

        footer {
            background-color: rgb(29, 97, 136);
            color: white;
            text-align: center;
            padding: 1.5%;
        }

        a{
          padding: 5%;
        }
    </style>
</head>

<body>
    <nav
        style="background-color: rgb(29, 97, 136); padding: 5px; font-weight: bold; display: block; text-align: center;">
        <a href="./" style="text-decoration: none;color: white;">Chat</a>
        <a href="./about" style="text-decoration: none;color: white;">About Idoma Culture</a>
    </nav>
    <section class="container">
        <h2>About Idoma chatbot</h2>


        <h3>Using the Idoma Language Chatbot</h3>

        <div>
            Welcome to the Idoma Language Chatbot! This guide will help you understand how to interact with the chatbot
            to send and receive messages in Idoma, as well as translate between English and Idoma.

            <h3>Sending Messages in Idoma</h3>

            To converse in Idoma:
            <p>1. Open the Chatbot Interface: Access the chatbot through the link above.</p>
            <p>2. Type Your Message in Idoma: Use the Idoma language to send your message.</p>
            <p>3. Receive Responses in Idoma: The chatbot will respond to you in Idoma, allowing you to have a fluent conversation.</p>

            <p>Example:</p>
            <p>- You: "Oteh k'igbo?" (How are you?)</p>
            <p>- Chatbot: "Ahu, ijeso." (I'm fine, thank you.)</p>

            <h3>Translating Messages</h3>

            <pThe chatbot can also help you translate messages between English and Idoma.
            ></p>
            <h3>English to Idoma Translation</h3>
            <p>1. Type Your Message in English and hit the <b>translate</b> button</p>
            <p>2. Receive the Translation in Idoma</p>

            <p>Example:</p>
            <p>- You: Good morning.</p>
            <p>- Chatbot: "Ow'ogba.</p>

            <h3>Idoma to English Translation</h3>
            <p>1. Type Your Message in Idoma and hit the <b>translate</b> button</p> 
            <p>2. Receive the Translation in English</p>

            <p>Example:</p>
            <p>- You: Owoicho.</p>
            <p>- Chatbot: God</p>

            <h4>Quick Tips</h4>
            <p>- Ensure your messages are clear and correctly spelled to get accurate responses and translations.</p>
            <p>- Use simple sentences for better translation results.</p>
            <p>- Feel free to ask the chatbot for help if you're unsure how to phrase something.</p>

            <p>Enjoy your interaction with the Idoma Language Chatbot!</p>

    </section>

    <footer>
        <p>&copy; 2024 Idoma Chatbot. All rights reserved.</p>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>